<div class="" *ngIf="showHeaders">
    <h2>{{this.title}}    </h2>
</div>

<div *ngIf="mode==0">loading</div>

<app-list #list *ngIf="mode==1" 
[listView] = "listView"
[fulltextSearch]="fulltextSearch" 
[dataService] = "dataService"
[tableStructure] = "tableStructure"
onUpdateList="updateList()"
(onSetStatus) = "setMode($event)"
[fixedSearchFilter]="fixedSearchFilter" 
[searchFilter]="searchFilter" 

>
</app-list>

<app-detail *ngIf="mode==3">


    <div class="recordDetails">
        <div class="detailHeader">
            {{currentRecord.name}} 
             <button type="button" class='btn btn-primary' (click)='openListMode()'>Back to List mode</button>
             
 
             <!-- <button *ngIf="currentRecord.record_status === 'active'" type="button" class="btn btn-danger" (click)="setToInactive()">Set inactive</button>
             <button *ngIf="currentRecord.record_status !== 'active'" type="button" class="btn btn-primary" (click)="setToActive()">Reset to active</button>     -->
             <button type="button" class='btn btn-primary' (click)='openEditMode(currentRecord.id)'>Edit record</button>
         
     </div>

        <div class="recordDetail">
            <div class="recordDetailLabel">Group-id:</div>
            <div class="recordDetailValue">{{currentRecord.id}}</div>
        </div> 

        <div class="recordDetail">
            <div class="recordDetailLabel">Name:</div>
            <div class="recordDetailValue">{{currentRecord.name}}</div>
        </div> 
        <div class="recordDetail textarea">
            <div class="recordDetailLabel">Notes:</div>
            <div class="recordDetailValue">{{currentRecord.description}}</div>
        </div>        
        <hr>
        <div class="recordDetail">
            <div class="recordDetailLabel">Created:</div>
            <div class="recordDetailValue">{{currentRecord.created_at}} / {{currentRecord.created_by_user?.name}}</div>
        </div>
        <div class="recordDetail">
            <div class="recordDetailLabel">Last modified:</div>
            <div class="recordDetailValue">{{currentRecord.modified_at}} / {{currentRecord.modified_by_user?.name}}</div>
        </div>

    </div>

    
</app-detail>

<app-edit *ngIf="mode==2 ||mode==5" (onSubmit)="handleEditFormSubmit($event)">

    <div class="recordEdits">
        <div class="form-group">
            <label for="id">Group-id:</label>
            <input class="form-control" id="id" name="id" placeholder="name" [(ngModel)]="currentRecord.id"
            [disabled]="mode !== 5"
            >
            <div class="fieldErrorMessage">{{fieldErrorMessages['name']}}</div>
        </div>

        <div class="form-group">
            <label for="name">Name:</label>
            <input class="form-control" id="name" name="name" placeholder="name" [(ngModel)]="currentRecord.name">
            <div class="fieldErrorMessage">{{fieldErrorMessages['name']}}</div>
        </div>

        <div class="form-group">
            <label for="description">Description:</label>
            <textarea class="form-control" id="description" name="description" placeholder="description"
                [(ngModel)]="currentRecord.description">
        </textarea>
        <div class="fieldErrorMessage">{{fieldErrorMessages['description']}}</div>
        </div>
    </div>
</app-edit>



