
        <hr>
        <div class="recordDetail">
            <div class="recordDetailLabel">{{addressType}}:</div>            
        </div>
        <div class="recordDetail">
            <div class="recordDetailLabel">Address:</div>
            <div class="recordDetailValue">{{address.name}}</div>
        </div>
        <div class="recordDetail">
            <div class="recordDetailLabel">City:</div>
            <div class="recordDetailValue">{{address.city}}</div>
        </div>
        <div class="recordDetail">
            <div class="recordDetailLabel">Street:</div>
            <div class="recordDetailValue">{{address.street}}</div>
        </div>
        <div class="recordDetail">
            <div class="recordDetailLabel">Zipcode:</div>
            <div class="recordDetailValue">{{address.zipcode}}</div>
        </div>
        <div class="recordDetail">
            <div class="recordDetailLabel">State:</div>
            <div class="recordDetailValue">{{address.state}}</div>
        </div>
        <div class="recordDetail">
            <div class="recordDetailLabel">Address notes:</div>
            <div class="recordDetailValue">{{address.description}}</div>
        </div>


