<div class="homebackground">

    <div class="homebackground-image"></div>
    
    <div class="card">
            <div class="card-body1">
                    <p class="lead1">Hi {{appData.firstName}}! <br>welcome to :</p>        
            
                    <h1 class="lead2">NiagaraAngular</h1>
                    
                    <p class="lead3">
                            ...sample application to check Angular features
                    </p>
                    
                    <hr class="my-4 lead4">
            
                    <ul class="lead5">
                        <li>
                            checkout my page:<br>
                            <a href="https://dev.batajozsef.hu">dev.batajozsef.hu</a>    
                        </li>
                    </ul>            
            </div>
    
        </div>
        <div class="card-footer">
            <a href="https://dev.batajozsef.hu">dev.batajozsef.hu</a>
        </div>        
    
    </div>
